<nav class="bg-gradient-to-r from-slate-900 to-indigo-900"> 
    <ul class="flex items-center list-none font-bold w-full flex md:flex-row items-center justify-center p-3 text-xl ">
        <li class="ml-4"><a href="/" class="text-white hover:text-blue-500 transition duration-300">Home</a></li>
    </ul>
</nav>